# 리스트(list) 자료형
- 숫자나 문자들의 모음을 하나의 자료형으로 표현하기 위해 사용
- 표현방법: 리스트 = [요소1, 요소2,...]

In [3]:
## 리스트 자료형 선언
var01 = []
var01=[1,2,3]
var01 = ['I', "have", 'a', 'dream']
var01 = [1, 2, 'Dream' ,True]
var01 = [1, 2,['Dream', True]]
print(var01)

var01[2][0]

[1, 2, ['Dream', True]]

'Dream'

# 리스트의 연산자

In [4]:
# 리스트의 숫자 합치기
var01 = [1,2,3]
var02 = [4,5,6]
var01 + var02

[1, 2, 3, 4, 5, 6]

In [18]:
# 리스트의 덧셈

var03 = []

for i in range(0,len(var02)):
    var03.append(var01[i] + var02[i])
    print(var01[i] + var02[i])

var03

5
7
9

[5, 7, 9]

In [7]:
var01 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [9]:
# var01[2] + 'hi'
# 문자열로 변경 
str(var01[2]) + 'hi'

'3hi'

In [11]:
int('123')

123

# 리스트의 수정과 삭제

In [13]:
var01
var01[2] = 4
var01

[1, 2, 4]

In [14]:
var01[1:2] = ['a','b','c']
var01

[1, 'a', 'b', 'c', 4]

In [15]:
var01[1:3] = []
var01

[1, 'c', 4]

In [16]:
del var01[1]
var01

[1, 4]

# 리스트 관련 함수

In [17]:
# 리스트에 요소 추가
var01 = [1,2,3]
var01.append(4)
var01

[1, 2, 3, 4]

In [19]:
var01.append([5,6])
var01

[1, 2, 3, 4, [5, 6]]

In [30]:
# 리스트의 정렬
var01 = [1,4,3,2]
var01

# 오름차순 정렬
var01.sort()
print(var01)

# 내림차순 정렬
var01.reverse()
print(var01)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [37]:
# 리스트의 정렬 : 영문
var01 = ['c','a','b','d']
print(var01)

# 오름차순 정렬
var01.sort()
print(var01)

# 내림차순 정렬
var01.reverse()
print(var01)

['c', 'a', 'b', 'd']
['a', 'b', 'c', 'd']
['d', 'c', 'b', 'a']

In [36]:
# 리스트의 정렬 : 한글
var01 = ['대','한','민','국']
print(var01)

# 오름차순 정렬
var01.sort()
print(var01)

# 내림차순 정렬
var01.reverse()
print(var01)

['대', '한', '민', '국']
['국', '대', '민', '한']
['한', '민', '대', '국']

In [38]:
# 리스트의 위치정보

var01 = [4,5,6]
var01.index(5) # 요소가 5인것의 위치

1

In [42]:
# 리스트에 요소 삽입
var01.insert(0, 1)
var01

[1, 1, 5, 6]

In [44]:
# 리스트에 요소 제거
var01.remove(6) # 요소가 4인것 제거
var01

[1, 1, 5]

In [45]:
# 리스트 요소 끄집어 내기
var01 = [1,2,3]
print(var01.pop()) # 리스트의 마지막 요소를 선택 후 보여주고 해당 데이터는 삭제
print(var01)

3
[1, 2]

In [46]:
# for문을 사용한 pop
var01 = [1,2,3]
for i in range(0,3):
    print(var01.pop())
    
print(var01)

3
2
1
[]

In [48]:
# 리스트의 요소 개수 세기
var01 = [1,2,3,4,4]
print(var01.count(4))
print(len(var01))

2
5

In [51]:
# 리스트의 확장
var01 = [1,2,3,4]
var01.extend([5,6])
var01

[1, 2, 3, 4, 5, 6]