# 자료형의 참과 거짓
- 문자열인 경우 "" 안에 data가 있으면 참, 없으면 거짓
- 리스트인 경우 []  ---
- 튜플인 경우 () ---
- 딕셔너리인 경우 {} ---
- 숫자인 경우 0이면 거짓이고, 0이 아닌 숫자는 참

In [1]:
# 숫자의 참과 거짓
var01 = 3
var02 = 1
var01 is var02

False

In [2]:
var01 = 1
var02 = 1
var01 is var02

True

In [4]:
# Tuple을 이용한 변수 생성
var01, var02 = 1,2
print(var01)
print(var02)

1
2

In [5]:
var01, var02 = 1, "lee"
print(var01)
print(var02)

1
lee

In [6]:
var01 = var02 = "Lee"
print(var01, var02)

Lee Lee

In [8]:
# 튜플을 이용한 변수의 값 교환
var01 =3
var02 =5
var01, var02  = var02, var01
print(var01,var02)

5 3

In [9]:
# 리스트의 복사
var01 = [1,2,3]
var02 = var01
var01[1] = 4
var02[2] = 6
print(var01)
print(var02)

[1, 4, 6]
[1, 4, 6]

In [10]:
var01 is var02

True

In [11]:
# Slicing 을 이용한 리스트 복사
var01 = [1,2,3]
var02 = var01[:]
var01[1] = 4
print(var01)
print(var02)

[1, 4, 3]
[1, 2, 3]

In [12]:
var01 is var02

False

In [14]:
# Module을 이용한 리스트의 복사

from copy import copy

In [15]:
var01 = [1,2,3]
var02 = copy(var01)
var01[1] = 4
print(var01)
print(var02)

[1, 4, 3]
[1, 2, 3]